<div class="row">
    <div class="col-12 col-md-10 col-lg-8">
		<%@stories.each do |story|%>
			<div class="card">
				<h6>
					<%= link_to "#{story['title']}", story['url'] %>
				</h6>
				<div class="card-body">
					By: <%= story['author']%>
		
				</div>
			</div>
			<br>
		<% end %>
    </div>
</div>